<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../output.css" rel="stylesheet">
</head>
<body>
  <h1 class="text-3xl font-bold underline bg-yellow-700 p-5 text-center text-green-500 ">
    Hello world!
  </h1>
  <div class="w-full h-10 bg-violet-200 border-violet-600 rounded-md my-4 p-2">
    <p class="text-center font-semibold font-mono">Hell No</p>
  </div>
  
  <div class="fixed w-10 h-10 bg-red-700 right-5"></div>

    
</body>
</html>